li a:hover {
    color: blue;
}

div {
    /* border: 1px solid black; */
    width: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sidenav-trigger,
.sidenav-close {
    cursor: pointer;
}

.sidenav {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


/* #loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/Preloader_7.gif") center no-repeat #fff;
} */

@media screen and (min-device-width:320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    * {
        float: none;
        width: auto;
        height: auto;
    }
    tr th {
        padding: 10px 10px 10px 10px;
        margin: 5px 5px 5px 5px;
        min-width: 150px;
    }
    table {
        display: block;
        overflow-x: scroll;
    }
    /* #listdda {
        font-size: 18px;
    } */
    #titleado {
        position: relative;
        width: 45%;
        margin: 5px 5px 5px 5px;
    }
    #addbulkbtnid,
    #addbtnid {
        float: right;
        position: relative;
        margin: 5px 5px 5px 5px;
        width: 45%;
    }
    #listado,
    a {
        min-width: 100px;
        font-size: 24px;
    }
    #editbutton {
        display: block;
    }
    #deletebutton {
        display: block;
    }
}

@media screen and (min-device-width:641px) and (-webkit-min-device-pixel-ratio: 2) {
    tr th {
        padding: 10px 10px 10px 10px;
        margin: 5px 5px 5px 5px;
        min-width: 150px;
    }
    #editbutton {
        display: block;
    }
    #deletebutton {
        display: block;
    }
    table {
        display: block;
        overflow-x: scroll;
        width: 100%;
    }
    #titleado {
        position: relative;
        /* border: 1px solid black; */
        width: 30%;
        margin: 5px 5px 5px 5px;
    }
    #addbulkbtnid {
        float: right;
        position: relative;
        /* border: 1px solid black; */
        margin: 5px 5px 5px 5px;
        width: 30%;
    }
    #addbtnid {
        float: right;
        position: relative;
        /* border: 1px solid black; */
        margin: 5px 5px 5px 5px;
        width: 30%;
    }
}