li a:hover {
    color: blue;
}

div {
    /* border: 1px solid black; */
    width: 100%;
}

* {
    box-sizing: border-box;
}


/* table {
    display: block;
    overflow-x: scroll;
} */

.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sidenav-trigger,
.sidenav-close {
    cursor: pointer;
}

.sidenav {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

@media screen and (min-device-width:320px) and (max-device-width: 620px) and (-webkit-min-device-pixel-ratio: 2) {
    * {
        float: none;
        width: auto;
        height: auto;
    }
    tr {
        width: 100%;
    }
    table {
        display: block;
        overflow-x: scroll;
    }
}