li a:hover {
    color: blue;
}

div {
    /* border: 1px solid black; */
    width: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.sidenav-trigger,
.sidenav-close {
    cursor: pointer;
}


/* .tabs .tab a:hover {
    color: #5145bd;
    /*Custom Color On Hover*/


/* }  */

.tabs .tab a {
    color: #088f08;
    /*Custom Text Color*/
}

.tabs .tab a:focus.active {
    color: #088f08;
    /* Custom Text Color While Active */
    background-color: rgba(8, 143, 8, 0.3);
    /* Custom Background Color While Active */
}

.tabs .indicator {
    background-color: #088f08;
    /*Custom Color Of Indicator*/
}


/*Background and text color when a tab is active*/

.sidenav {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

@media screen and (min-device-width:320px) and (max-device-width: 620px) and (-webkit-min-device-pixel-ratio: 2) {
    * {
        float: none;
        width: auto;
        height: auto;
    }
    tr th {
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    table {
        display: block;
        overflow-x: scroll;
    }
}