body {
    color: #ffff;
    font-family: Tahoma, Geneva, sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.login {
    background: rgba(44, 62, 80, 0.8);
    padding: 30px;
    width: 20%;
    margin: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20%;
    margin-bottom: 20%;
    height: 60%;
    line-height: 20px;
    border: none;
}

form {
    width: 250px;
    text-align: center;
}

input {
    width: 240px;
    text-align: center;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    font-family: "Play", sans-serif;
    outline: none;
    color: #ffff;
}

input[type=button] {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    width: 190px;
    color: #000;
    line-height: 25px;
    cursor: pointer;
    background-color: aliceblue;
    margin-top: 30px;
}

input[type=button]:hover {
    color: #fff;
    background-color: white;
}

h2 {
    color: white;
}

a {
    color: skyblue;
    text-decoration: blink;
}

a:hover {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;
}

.signup {
    color: white;
    text-decoration: blink;
}

.signup:hover {
    color: skyblue;
}


/*.login-popup{
	ba
}
*/